<div class="loading" *ngIf="loading$ | async; else showData">
    <mat-spinner diameter="36"></mat-spinner>
</div>
<ng-template #showData>
    <div id="table-wrapper">
        <div id="table-scroll">
            <table>
                <thead>
                    <tr>
                        <th *ngFor="let item of column | paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: lengthData
                  };">{{item}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data" class="item-table" (click)="navigate(item.id)">
                        <td>{{item.id}}</td>
                        <td>{{item.username}}</td>
                        <td>{{item.phoneNumber}}</td>
                        <td>{{item.email | numberPipe}}</td>
                        <td>{{item.state}}</td>
                        <td>{{item.leadSource | dateFormatPipe}}</td>
                        <td>
                            <ng-container [ngTemplateOutlet]="statusTag"
                                [ngTemplateOutletContext]="{ status: item.status}">
                            </ng-container>
                        </td>
                        <td>View</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- <pagination-controls previousLabel="" nextLabel="" (pageChange)="onTableDataChange($event)"></pagination-controls> -->
    <app-paginator [tableSize]="tableSize" [page]="page" 
    (getData)="
    getData.emit($event); 
    page = $event"></app-paginator>
</ng-template>
<ng-template #statusTag let-status="status">
    <button class="tag-status" 
    [class]="status == 0 ? 'bg-grey'
            : status == 2 ? 'bg-success'
            : status == -1 ? 'bg-cancel'
            : 'bg-primary'">
        {{
        status == 0 ? 'Pending'
        : status == 2 ? 'Submitted'
        : status == -1 ? 'Calling back'
        : 'Assigned'}}
    </button>
</ng-template>