<div class="container">
    <div class="children">
        <app-input-search class="input-search"></app-input-search>
    </div>
    <div class="children">
        <ul class="menu">
            <li class="menu-item">
                <img class="icon-menu-item" src="assets/images/icon/notification.png" />
            </li>
            <li class="menu-item">
                Settings
            </li>
            <li class="menu-item">
                Username
            </li>
            <li class="menu-item">
                Log out
            </li>
        </ul>
    </div>
    
</div>