<div class="container">
    <div class="header-page">
        <p class="subtitle">
            Last Update: <span>{{updated | datetimeFormat }}</span>
        </p>
        <div class="list-action">
            <button color="primary" mat-raised-button class="btn-dark">Run Credit Report</button>
            <button color="primary" mat-raised-button class="btn-dark">Send Email</button>
            <button color="primary" mat-raised-button class="btn-dark">Privacy Consent</button>
            <button color="primary" mat-raised-button class="btn-dark">Convert</button>
        </div>
    </div>
    <form class="form-container" [formGroup]="formValidate" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <div class="form-group-control">
                <mat-form-field>
                    <mat-label>Lead Owner</mat-label>
                    <input formControlName="owner" matInput placeholder="Placeholder">
                </mat-form-field>
                <div class="text-error" *ngIf="submitted && formControl['owner'].errors">
                    {{getErrorMessage(formControl['owner'], 'owner')}}
                </div>
            </div>
            <div class="form-group-control">
                <mat-form-field>
                    <mat-label>Lead Status</mat-label>
                    <mat-select formControlName="leadStatus">
                        <mat-option [value]="0">Select Lead Status</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="text-error" *ngIf="submitted && formControl['leadStatus'].errors">
                    {{getErrorMessage(formControl['leadStatus'], 'leadStatus')}}
                </div>
            </div>
            <div class="form-group-control">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="Placeholder">
                </mat-form-field>
                <div class="text-error" *ngIf="submitted && formControl['email'].errors">
                    {{getErrorMessage(formControl['email'], 'email')}}
                </div>
            </div>
            <div class="form-group-control">
                <mat-form-field>
                    <mat-label>Lead Source</mat-label>
                    <mat-select formControlName="leadSource">
                        <mat-option [value]="0">Select Lead Source</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="text-error" *ngIf="submitted && formControl['leadSource'].errors">
                    {{getErrorMessage(formControl['leadSource'], 'leadSource')}}
                </div>
            </div>
            <div class="form-group-control">
                <mat-form-field>
                    <mat-label>Phone</mat-label>
                    <input formControlName="phoneNumber" matInput placeholder="Placeholder">
                    <p class="form-prefix" matSuffix [matMenuTriggerFor]="menu">{{phoneDialCode}}
                        <mat-icon>arrow_drop_down</mat-icon>
                    </p>
                    <mat-menu #menu="matMenu">
                        <button *ngFor="let item of countryCode" (click)="
                            changeCountryCode(item.dial_code, item.code)" mat-menu-item>
                            {{'(' + item.dial_code + ') ' + item.name}}</button>
                    </mat-menu>
                </mat-form-field>
                <div class="text-error" *ngIf="submitted && formControl['phoneNumber'].errors">
                    {{getErrorMessage(formControl['phoneNumber'], 'wrongNumber')}}
                </div>
            </div>
        </div>

        <mat-tab-group>
            <mat-tab label="Lead Information">
                <div class="form-group" style="margin-top: 24px;">
                    <div class="form-group-control">
                        <mat-form-field>
                            <mat-label>First Name</mat-label>
                            <input formControlName="firstName" matInput placeholder="Placeholder">
                        </mat-form-field>
                        <div class="text-error" *ngIf="submitted && formControl['firstName'].errors">
                            {{getErrorMessage(formControl['firstName'], 'firstName')}}
                        </div>
                    </div>
                    <div class="form-group-control">
                        <mat-form-field>
                            <mat-label>Last Name</mat-label>
                            <input formControlName="lastName" matInput placeholder="Placeholder">
                        </mat-form-field>
                        <div class="text-error" *ngIf="submitted && formControl['lastName'].errors">
                            {{getErrorMessage(formControl['lastName'], 'lastName')}}
                        </div>
                    </div>
                    <div class="form-group-control">
                        <mat-form-field>
                            <mat-label>Phone</mat-label>
                            <input formControlName="phoneNumber" matInput placeholder="Placeholder">
                            <p class="form-prefix" matSuffix [matMenuTriggerFor]="menu">{{phoneDialCode}}
                                <mat-icon>arrow_drop_down</mat-icon>
                            </p>
                            <mat-menu #menu="matMenu">
                                <button *ngFor="let item of countryCode" (click)="
                                    changeCountryCode(item.dial_code, item.code)" mat-menu-item>
                                    {{'(' + item.dial_code + ') ' + item.name}}</button>
                            </mat-menu>
                        </mat-form-field>
                        <div class="text-error" *ngIf="submitted && formControl['phoneNumber'].errors">
                            {{getErrorMessage(formControl['phoneNumber'], 'wrongNumber')}}
                        </div>
                    </div>
                    <div class="form-group-control">
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput placeholder="Placeholder">
                        </mat-form-field>
                        <div class="text-error" *ngIf="submitted && formControl['email'].errors">
                            {{getErrorMessage(formControl['email'], 'email')}}
                        </div>
                    </div>
                    <div class="form-group-control">
                        <mat-form-field>
                            <mat-label>Lead Purpose</mat-label>
                            <mat-select formControlName="leadPurpose">
                                <mat-option [value]="0">Select Lead Purpose</mat-option>
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="text-error" *ngIf="submitted && formControl['leadPurpose'].errors">
                            {{getErrorMessage(formControl['leadPurpose'], 'leadPurpose')}}
                        </div>
                    </div>
                    <div class="form-group-control">
                        <mat-form-field>
                            <mat-label>Load Amount</mat-label>
                            <input formControlName="loadAmount" matInput placeholder="Placeholder">
                        </mat-form-field>
                        <div class="text-error" *ngIf="submitted && formControl['loadAmount'].errors">
                            {{getErrorMessage(formControl['loadAmount'], 'loadAmount')}}
                        </div>
                    </div>
                    <div class="form-group-control">
                        <mat-form-field>
                            <mat-label>Time frame of purchase</mat-label>
                            <input formControlName="time" matInput placeholder="Placeholder">
                        </mat-form-field>
                        <div class="text-error" *ngIf="submitted && formControl['time'].errors">
                            {{getErrorMessage(formControl['time'], 'time')}}
                        </div>
                    </div>
                    <div class="form-group-control">
                        <mat-form-field>
                            <mat-label>Prefer time to call</mat-label>
                            <input formControlName="prefer" matInput placeholder="Placeholder">
                        </mat-form-field>
                        <div class="text-error" *ngIf="submitted && formControl['prefer'].errors">
                            {{getErrorMessage(formControl['prefer'], 'prefer')}}
                        </div>
                    </div>


                </div>
            </mat-tab>
            <mat-tab label="Second">
            </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
            <mat-tab label="Second"> Content 2 </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
            <mat-tab label="Second"> Content 2 </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
        </mat-tab-group>
        <div class="btn-submit" style="display: flex; justify-content: end;">
            <button style="width: 160px" type="submit" color="primary" class="btn-dark" mat-raised-button >
                <mat-icon *ngIf="$loading"><mat-spinner diameter="18">
                    </mat-spinner></mat-icon>
                Save</button>
        </div>
    </form>

</div>