.container{
    padding: 0 24px;
}

.header-page {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    margin-bottom: 24px;

    .btn-group {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        align-items: flex-end;

        .form-input-search {
            position: relative;
            height: 36px;
            min-width: 324px;
            border: 1px solid rgba(220, 220, 220, 1);
            border-radius: 8px;
            padding: 10px 16px;

            .form-control {
                position: absolute;
                max-width: 310px;

                min-height: 56px;
                font-size: 14px;
                top: 0;
                border: none;
                outline: none;
            }

            .icon-search {
                width: 16px;
                height: 16px;
                margin-top: 10px;
                margin-right: 5px;
            }

        }
    }
}

.header-page> :first-child {
    flex-basis: 1000px;
}

.header-page> :last-child {
    flex-basis: 300px;
}

@media only screen and (max-width: 810px) {
    .btn-group {
        justify-content: flex-start;
    }

    .header-page> :first-child {
        flex-basis: 200px;
    }

    .header-page> :last-child {
        flex-basis: 500px;
    }

    // .form-input-search {
    //     width: 200px !important;

    //     .form-control {
    //         width: 180px !important;
    //     }
    // }
}

@media only screen and (max-width: 672px) {
    .header-page {
        display: grid;
        gap: 1rem;
    }

    button {
        width: 100% !important;
    }

    .btn-group {
        flex-wrap: wrap;
        width: 100% !important;

        *{
            width: 100%;
        }
    }
}