<table>
    <thead>
        <tr>
            <th *ngFor="let item of column | paginate
            : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };">{{item}}</th>
              <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data" class="item-table">
            <td>{{item.id}}</td>
            <td>{{item.username}}</td>
            <td>{{item.phoneNumber}}</td>
            <td>{{item.email}}</td>
            <td>{{item.state}}</td>
            <td>{{item.leadSource | date}}</td>
            <td>{{item.status}}</td>
            <td>View</td>
        </tr>
    </tbody>
</table>
<pagination-controls
      previousLabel=""
      nextLabel=""
    >
    </pagination-controls>